###################################################
#                                                 #
# Home Assistant Main Configuration File          #
#                                                 #
###################################################

homeassistant:
  # Name of the location where Home Assistant is running
  name: !secret name
  
  temperature_unit: C
  # Location required to calculate the time the sun rises and sets
  latitude: !secret latitude 
  longitude: !secret longitude
  # Impacts weather/sunrise data (altitude above sea level in meters)
  elevation: !secret elevation
  # metric for Metric, imperial for Imperial
  unit_system: metric
  # Pick yours from here: http://en.wikipedia.org/wiki/List_of_tz_database_time_zones
  time_zone: !secret timezone 
  # Customization file
  customize: !include customize.yaml

# Show links to resources in log and frontend
introduction:



####################################################
#                                                  #
#               Frontend/Themes                    #
#                                                  #
####################################################
frontend:
    themes: !include themes.yaml

# Enables configuration UI
config:

# Uncomment this if you are using SSL/TLS, running in Docker container, etc.
#   base_url: example.duckdns.org:8123
http:
#  base_url: !secret base_url_original
  base_url: !secret base_url
  server_port: !secret base_port
  ssl_certificate: /ssl/fullchain.pem 
  ssl_key: /ssl/privkey.pem


# Checks for available updates
# Note: This component will send some information about your system to
# the developers to assist with development of Home Assistant.
# For more information, please see:
# https://home-assistant.io/blog/2016/10/25/explaining-the-updater/
updater:
  # Optional, allows Home Assistant developers to focus on popular components.
  # include_used_components: true

# Discover some devices automatically
discovery:

# Allows you to issue voice commands from the frontend in enabled browsers
conversation:

# Enables support for tracking state changes over time
history:

# View all events in a logbook
logbook:

# Enables a map showing the location of tracked devices
map:

# Track the sun
sun:

#configurazione server sonoff
mqtt:
  broker: core-mosquitto
  username: !secret usermqtt
  password: !secret passmqtt

#light:
#- platform: mqtt
#  name: "Studio"
#  comand_topic: "cmd/sonoff-studio/power"
#  state_topic: "stat/sonoff-camera/POWER"
#  qos: 1
#  payload_on: "ON"
#  payload_off: "OFF"
#  retain: true

#luce cucina
light:
  - platform: mqtt
    name: Luce Cucina
    command_topic: "cmnd/sonoffLuceCucina/power"
    state:topic: "stat/sonoffLuceCucina/POWER"
    qos: 1
    payload_on: "ON"
    payload_off: "OFF"
    retain: true
  - platform: mqtt
    name: Luci Tv Cucina di sotto
    command_topic: "cmnd/LuciTvCucinadisotto/power"
    state:topic: "stat/LuciTvCucinadisotto/POWER"
    qos: 1
    payload_on: "ON"
    payload_off: "OFF"
    retain: true
  
 #TVsala
switch:
  - platform: mqtt
    name: "Ciabatta TV LG"
    state_topic: "stat/Sonoff-LGTV/POWER"
    command_topic: "cmnd/Sonoff-LGTV/POWER"
    qos: 1
    payload_on: "ON"
    payload_off: "OFF"
    retain: true

# Weather prediction
#sensor:
#  - platform: yr
sensor:
#- platform: yweather
#  name: Weather Today
#  woeid: 56552529
#  monitored_conditions:
#   - weather
#   - weather_current
#   - temp_min
#   - temp_max
#   - wind_speed
#   - pressure
#   - visibility
#   - humidity
#   - temperature
- platform: command_line
  name: CPU Temp
  command: "cat /sys/class/thermal/thermal_zone0/temp"
  unit_of_measurement: "°C"
  value_template: '{{ value | multiply(0.001) | round(1) }}'
#- platform: systemmonitor
#  resources:
#    - type: disk_free
#      arg: /
#    - type: memory_free
#    - type: processor_use
#    - type: last_boot
#    - type: since_last_boot

#Sensori sonoff
- platform: mqtt
  name: "Sala Temp"
  state_topic: "tele/Sonoff-LGTV/SENSOR"
  unit_of_measurement: "°C"
  qos: 1
  value_template: "{{ value_json.SI7021.Temperature }}"
- platform: mqtt
  name: "Sala Humidity"
  state_topic: "tele/Sonoff-LGTV/SENSOR"
  unit_of_measurement: "%"
  qos: 1
  value_template: "{{ value_json.SI7021.Humidity }}"

recorder:
  purge_keep_days: 3
  include:
    domains:
      - automation
      - input_boolean
      - input_number
      - input_datetime
      - input_select
      - binary_sensor
      - sensor
      - history_graph
 
history_graph:
  gr1:
    name: OrangePiLite Temp
    entities:
      - sensor.cpu_temp
    hours_to_show: 48
    refresh: 10
  gr2:
    name: Sala
    entities:
      - sensor.sala_temp
      - sensor.sala_humidity
    hours_to_show: 48
    refresh: 10


# Text to speech
tts:
  - platform: google
    cache: true
    cache_dir: /tts
    time_memory: 300
    language: 'it'

# Cloud
cloud:

#google assistant
#google_assistant:
#  project_id:
#  api_key:
google_assistant:
  project_id: !secret project_id_googel_assistent
  api_key: !secret api_key_googel_assistent
#  exposed_domains:
#    - switch
#    - light
#    - group
#    - climat

#fritzbox:
#  devices:
#    - host: fritz.box
#      username: !secret fritz_user
#      password: !secret fritz_pwd

####################################################
#                                                  #
#                    Notifiche                     #
#                                                  #
####################################################


telegram_bot:
  - platform: polling
    api_key: !secret telegram_apikey
    allowed_chat_ids:
      - !secret telegram_clientid

notify:
  - name: telegram_bot
    platform: telegram
    chat_id: !secret telegram_clientid

####################################################
#                                                  #
#                    Weather                       #
#                                                  #
####################################################

#weather:
#  - platform: openweathermap
#   api_key: !secret openweathermap

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml